<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <h1>About me ...!</h1>
    <p>My name is Hassan Doodiyan.</br>
        i have 30 years old and not married!</br>
        I am a computer engineers.
    </p>
    <h2>About this app</h2>
    <p>this webapp is a simple password generator that's create random password base on the options you choose ...</p>
    <p>just select the password length and it's characters (such as upper case, numbers and special chars)</br>
    if you don't select any option the default is just only lower-case letters.</br>
    after all setting just press the Generate button to see you random password ...</br>
    <b>TADAAAAAA...!</b></p>
    </br>
    <a href="{% url 'home' %}">Home</a>
</body>
</html>